html{background-color: rgb(235, 227, 227); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.text{background-color: white;}

.container{
    display: flex;
    flex-direction: column;
    margin-right: 1250px;
    overflow: hidden;
    &:hover{
        .img{
            transform: scale(1.15);
            opacity: 0.7;
            transition: 0.9s;
        }
        .text{
            transform: translateY(-100px);
            transition: 0.9s;
        }
    }
}

p{font-size: 12px; color: black;}
h1{font-weight: normal; color: black;}
h2{
    color: rgb(247, 91, 91);
    font-size: 18px;
    font-weight: normal;
}

.text {
    padding: 10px 25px 10px 25px;
    text-align: justify;
    position: relative;
}

@mixin pastille {
    background-color: $couleurbouton;
    border: 1px solid $couleurbouton;
    color: #fff;
    font-size: 15px;
}
$couleurbouton : rgb(255, 0, 0);
.btnC{
    @include pastille();
    height: 60px;width: 60px;
    border-radius: 360px;
    padding: 15px 15px 15px 15px;
    position: absolute ; top: 15px; left: 270px;
}
.btnR{
    @include pastille();
    position: relative; top: -35px; right: 25px;
    padding: 5px 5px 5px 5px;
}


